

.service_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    padding-bottom: 16px;

    // background-color: yellow;


    padding: 20px;
    min-width: 200px;
}

.service_icon__text {
    text-align: center;
}